@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700&family=Source+Sans+Pro:wght@200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: auto;
  scrollbar-color: #501d5e transparent;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #501d5e;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  overflow-x: hidden;
}

h2 {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  background: #b31eae;
  background: -webkit-linear-gradient(
    to right,
    #b31eae 0%,
    #ff00ff 31%,
    #f0c413 100%
  );
  background: -moz-linear-gradient(
    to right,
    #b31eae 0%,
    #ff00ff 31%,
    #f0c413 100%
  );
  background: linear-gradient(to right, #b31eae 0%, #ff00ff 31%, #f0c413 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -5px;
  width: 80px;
  border: 3px dashed #000;
  border-radius: 5px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a {
  color: #2b2b2b;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

.current {
  padding-bottom: 10px;
  border-bottom: 3px solid #9b0095;
  transition: 0.3s all ease;
}

.currentMenu {
  border-left: 3px solid #9b0095;
  transition: 0.3s all ease;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media (max-width: 568px) {
  h2 {
    font-size: 2rem;
  }
}
